body {
  position: relative;
  font-family: Andale Mono, monospace;
}

#stats > span.cards-remaining {
  float: right;
}

.observed-events {
  padding: 5px;
}
div.connected-event {
  display: flex;
}

.observed-events > div.connected-event > span {
  flex: 1;
  font-size: 12px;
  font-family: Helvetica; 
  padding: 1px;
  background-color: gray;
  color: white;
  margin: 2px 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.observed-events > div.connected-event > span.header {
  color: gray !important;
  background-color: white !important;
  font-weight: bold;
  margin: 1px;
  border-bottom: 1px solid;
}

.observed-events > div.connected-event > span.direction  {
  background-color: white;
  color: gray;
  flex-basis: 2%;
  flex-shrink: 4;
}

.observed-events > div.connected-event > span.user  {
  background-color: white;
  color: darkblue;
  font-weight: bold;
  flex-basis: 10%
  flex-shrink: 1;
}
.observed-events > div.connected-event > span.sender  {
  background-color: rgba(128,255,128,0.75);
  color: darkblue;
  flex-basis: 5%;
  flex-shrink: 1;
  font-weight: bold;
}
.observed-events > div.connected-event > span.dom_item  {
  background-color: rgba(128,192,128,0.75);
  color: darkblue;
  font-weight: bold;
  flex-basis: 10%;
  flex-grow: 1;
}
.observed-events > div.connected-event > span.action  {
  flex-grow: 5;
  flex-basis: 40%;
  color: black;
  background-color: rgba(100,100,100,0.1);
}
/* eventually, a click event will expand span */
.observed-events > div.connected-event > span.action.selected  {
  flex-grow: 5;
  flex-basis: 40%;
  color: black;
  background-color: rgba(100,100,100,0.1);
  text-overflow: initial;
  white-space: initial;
  overflow: auto;
}

.chat-room div.message-holder {
  overflow-y: scroll;
  height: 8em;
}
.chat-room div.form-holder {
  margin-top: 1.5em;
}
.chat-room {
  position: relative;
  font-family: Andale Mono, monospace;
  border: 1px solid silver;
  margin-top: 15px;
  box-sizing: border-box;
}

.chat-room span {
  padding: 2px 5px;
  display: inline block;
  height: 1.2em;
  vertical-align: middle;
  text-overflow: wrap;
}

.chat-room span.name {
  display: inline-block;
  background-color: #fafafa;
  border-right: 1px solid gray;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-room span.time {
  display: inline-block;
  background-color: #f8f8f8;
  border-right: 1px solid gray;
}

/* .chat-form { */
/* 	position: relative; */
/* 	margin-top 2em; */
/* } */
.chat-form .button-wrapper {
	position: absolute;
	width: 75;
	bottom: 0px;
	height: 1.5em;
	border-top: 1px solid lightgray;
}

.chat-room form input[type="button"] {
	width: 100%;
	color: white;
	background: darkgray;
	border: 0;
	height: 100%;
}
.chat-form .input-wrapper {
	position: absolute;
	left: 75px;
	right: 0px;
	bottom: 0px;
	padding-left: 10px;
	height: 1.5em;
	/* background-color: yellow; */
	border-top: 1px solid lightgray;

}
*:focus {outline: none;}

.chat-room form input[type="text"] {
	height: 100%;
	width: 100%;
	border: none;
}

img.card {
  margin:5px;
  max-width: 70px;
  max-height: 100px;
  width: auto;
  height: auto;
}

span.card-holder:hover {
  cursor: hand;
  -ms-transform: rotate(3deg) translate(0px,-20px);
  -webkit-transform: rotate(3deg) translate(0px,-20px);
  transform: rotate(3deg) translate(0px,-20px);
}

span.card-holder {
  display: inline-block;
  border-radius: 3px;
  margin: 8px;
  border: 1px solid gray;
  background-color: #f4f4f4;
}


div#stats > .game-name {
  display: inline-block;
  font-family: monospace;
  text-align: center;
  font-size: 14px;
  font-style: bold;
  width: 150px;
  color: white;
  margin: 5px
  padding: 4px;
  background: rgba(128,128,255,0.75);
}

div#update > * {
  font-family: monospace;
  font-size: 24px;
  width: 100%;
}

div#hand {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  font-family: monospace;
  flex-direction: row;
}
div#deck-stats {
  font-family: monospace;
}
